<%- include('partials/header') %>

<h1>CS2 Teams</h1>

<div class="card-grid">
    <% teams.forEach(team => { %>
    <div class="card">
        <img src="<%= team.logo %>" alt="<%= team.title %>">
        <h4><%= team.title %></h4>
        <p><%= team.description %></p>
        <a href="/team/<%= team.id %>">See more</a>
    </div>
    <% }) %>
</div>

<%- include('partials/footer') %>
