<%- include('partials/header') %>

<h1>CS2 Teams</h1>


<section>

    <% teams.forEach(team => { %>
        <div>
            <div>
                <h4><%= team.title %></h4>
                <p><%= team.description %></p>
                <a href="/team/<%= team.id %>">See more</a>
            </div>
        </div>
    <% }) %>

</section>

<%- include('partials/footer') %>
