<%- include('partials/header') %>

<h1 class="title">Players</h1>

<div class="card-grid">
    <% players.forEach(player => { %>
    <div class="card">
        <img src="<%= player.picture %>" alt=" <%= player.nickname %>">
        <h4><%= player.nickname %></h4>
        <p>Name: <%= player.first_name %> <%= player.last_name %></p>
        <p>Nationality: <%= player.nationality %></p>
        <a href="/players/<%= player.id %>">See more</a>
    </div>
    <% }) %>
</div>

<%- include('partials/footer') %>