<%- include('partials/header') %>

<div class="card-grid">
    <% players.forEach(player => { %>
    <div class="card">
        <img src="<%= player.picture %>" alt=" <%= player.nickname %>">
        <h4><%= player.nickname %></h4>
        <p>test</p>
        <a href="/players/<%= player.id %>">See more</a>
    </div>
    <% }) %>
</div>

<%- include('partials/footer') %>