<%- include('partials/header') %>

<div class="card-grid">
    <img src="<%=player.picture %>" alt="<%= player.nickname %>">
    <div class="card">
        <h4><%= player.nickname %></h4>
        <p>SDAFASDFASDFSA</p>
    </div>
</div>

<%- include('partials/footer') %>